{% extends "base.html" %}

{% block content %}
    <h1>{{ course.title }} > Assign Learners</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.user_id.label }}<br>
            {{ form.user_id }}<br>
            {% for error in form.user_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit( )}}</p>
    </form>
    <hr>
    <h1>Current Learners</h1>
    {% if course_users|length > 0 %}
        {% for course_user in course_users %}
        <div><p>{{ course_user.username }} ({{ course_user.status }}): <b>{{ course_user.progress }}%</b> complete</p></div>
        {% endfor %}
    {% else %}
    <p><i>None</i></p>
    {% endif %}

{% endblock %}

