{% extends "base.html" %}

{% block content %}
    <a href="{{ url_for('add_course') }}">Add Course</a>
    <h1>Your Courses</h1>
    {% for course in courses %}
    <div>
        <h2>{{ course.title }}</h2>
        <p>{{ course.description }}</p>
        <p><a href="{{ url_for('assign_learners', course_id=course.id) }}">Assign Learners</a></p>
    </div>
    <hr>
    {% endfor %}
{% endblock %}

