{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.username }}</h1>
    {% for course in courses %}
    <div><p>{{ course.title }} ({{ course.status }}): <b>{{ course.progress }}%</b> complete</p></div>
    {% endfor %}
{% endblock %}

